# Ignore container root filesystems
rootfs-*/
rootfs-base/

# Ignore compiled kernel modules and object files
*.ko
*.o
*.mod
*.mod.c
modules.order
Module.symvers

# Ignore compiled C binaries
engine
hog
memory_hog

# Ignore logs and images
*.log
images/
*.png
